<app-navbar></app-navbar>
<div>
  <h1 class="text-6xl text-center">Facturas</h1>
</div>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap -m-4 justify-center md:justify-between">
      <div class="xl:w-2/4 md:w-3/4 w-3/4 p-4 shadow-md" *ngFor="let bills of billModel">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="md:w-auto md:mb-0 mb-6 flex-shrink-0 flex justify-between mx-4">
            <div class="grid text-center">
              <span class="font-semibold title-font text-gray-700">Fecha de entrada</span>
              <span class="mt-1 text-gray-500 text-sm">{{bills.dateIn}}</span>
            </div>
            <div class="grid text-center">
              <span class="font-semibold title-font text-gray-700">Fecha de salida</span>
              <span class="mt-1 text-gray-500 text-sm">{{bills.dateOut}}</span>
            </div>
          </div>
          <div class="text-center mt-4 border-t-2 border-gray-200">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-2"></h2>
            <p class="leading-relaxed text-base">{{bills.idHotel.name}}</p>
            <p class="leading-relaxed text-base"></p>
          </div>
        </div>
        <div>
          <button class="block w-full text-greeb-800 text-sm font-semibold rounded-lg hover:bg-green-300 focus:outline-none focus:shadow-outline hover:shadow-xs p-3 my-4" [routerLink]="['/bill-reservation', bills._id]">
            Ver factura
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
