<app-navbar></app-navbar>
<div class="max-w-screen-lg mx-auto">
  <main class="mt-2">

    <div class="mb-4 md:mb-0 w-full mx-auto relative">
      <div class="px-4 lg:px-0">
        <h2 class="text-6xl font-semibold text-gray-800 leading-tight text-center">
          {{hotelModel.name}}
        </h2>
        <h1 class="py-2 text-green-700 inline-flex items-center justify-center mb-2">
          {{hotelModel.address}}
       </h1>
      </div>
      <img [src]="hotelModel.imgLink" class="w-full object-cover lg:rounded" style="height: 28em;"/>
    </div>
    <div class="flex flex-col lg:flex-row lg:space-x-12">

      <div class="px-4 lg:px-0 mt-12 text-gray-700 text-lg leading-relaxed w-full lg:w-3/4">
        <p class="pb-6 text-justify">{{hotelModel.description}}</p>
      </div>

      <div class="w-full lg:w-1/4 m-auto mt-12 max-w-screen-sm">
        <div class="p-4 border-t border-b md:border md:rounded">
          <div class="flex py-2">
            <img *ngIf="hotelModel.idAdminHotel.image" class="h-10 w-10 rounded-full mr-2 object-cover" [src]="hotelModel.idAdminHotel.image"/>
            <img *ngIf="!hotelModel.idAdminHotel.image" class="h-10 w-10 rounded-full mr-2 object-cover" src="/assets/user-profile.png"/>
            <div>
              <p class="font-semibold text-gray-700 text-sm"> {{hotelModel.idAdminHotel.name}} {{hotelModel.idAdminHotel.lastname}} </p>
              <p class="font-semibold text-gray-600 text-xs"> {{hotelModel.idAdminHotel.username}} </p>
            </div>
          </div>
          <p class="text-gray-700 py-3">
            Administrador del hotel "{{hotelModel.name}}"
          </p>
          <!-- <button class="px-2 py-1 text-gray-100 bg-green-700 flex w-full items-center justify-center rounded">
            Ver
            <i class='bx bx-user-plus ml-2' ></i>
          </button> -->
        </div>
      </div>

    </div>
  </main>
  <!-- main ends here -->

  <!-- footer -->
  <footer class="border-t mt-12 pt-4 pb-28 px-4 lg:px-0 mb-8">
    <div class="w-4/5 mt-1 rounded">
      <!-- Tabs -->
      <ul class="inline-flex w-full px-1 pt-2 ">
        <li [ngClass]="{'-mb-px border-b-2 border-blue-400 text-black opacity-100': click == '1'}" class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 cursor-pointer" (click)="click = '1'"><a>Información</a></li>
        <li [ngClass]="{'-mb-px border-b-2 border-blue-400 text-black opacity-100': click == '2'}" class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 cursor-pointer" (click)="click = '2'"><a>Eventos</a></li>
        <li [ngClass]="{'-mb-px border-b-2 border-blue-400 text-black opacity-100': click == '3'}" class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 cursor-pointer" (click)="click = '3'"><a>Servicios</a></li>
        <li [ngClass]="{'-mb-px border-b-2 border-blue-400 text-black opacity-100': click == '4'}" class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 cursor-pointer" (click)="click = '4'"><a>Reservación</a></li>
      </ul>

      <!-- Tab Contents -->
      <div>
        <div [ngClass]="{'hidden': click != '1'}" class="p-4">
          <h1 class="font-bold text-2xl">Dirección:</h1>
          <h2 class="text-md font-semibold">{{hotelModel.address}}</h2>
          <h1 class="font-bold text-2xl">Teléfono:</h1>
          <h2 class="text-md font-semibold">{{hotelModel.phoneNumber}}</h2>
        </div>
        <div [ngClass]="{'hidden': click != '2'}">
          <div  class="p-4 grid grid-cols-1 md:grid-cols-2">
            <div *ngFor="let eve of events" class="">
              <div class="bg-gray-300 py-4 px-4 shadow-xl rounded-lg my-4 mx-4">
                <div class="flex justify-between px-4 items-center">
                    <div class="text-lg font-semibold">
                      <p>{{eve.name}}</p>
                      <p class="text-gray-400 text-base">{{eve.date}}</p>
                    </div>
                    <div class="text-lg font-semibold">
                     <button class="focus:outline-none bg-pink-700 hover:bg-pink-800 text-white font-bold py-2 px-2 rounded-full inline-flex items-center" (click)="getEventID(eve._id)" (click)="toggleModal()">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                      </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="identity.rol === 'ROL_ADMIN'" class="text-center mx-auto">
            <button class="text-2xl mt-3 w-full md:w-auto text-base hover:scale-110 focus:outline-none px-4 py-2 rounded-full font-medium cursor-pointer
            hover:bg-green-700 hover:text-green-100
            bg-green-100
            text-green-700
            border duration-200 ease-in-out
            border-green-600 transition" (click)="toggleModalE()">Agregar Evento</button>
          </div>
        </div>
        <div [ngClass]="{'hidden': click != '3'}" class="p-4">
          Servicios
        </div>
        <div [ngClass]="{'hidden': click != '4'}" class="p-4">
          Reservación
        </div>
      </div>
    </div>
  </footer>
</div>

<!--Modal Evento-->
<div id="divModal" *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex animate__animated animate__fadeInDownBig">
  <div class="relative w-auto my-6 mx-auto max-w-sm">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-3 border-b border-solid border-gray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          {{eventModelGet.name}}
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative px-6 py-4 flex-auto">
        <div>
          <p class="text-sm">{{eventModelGet.description}}</p>
        </div>
        <div class="flex space-x-2 text-gray-400 text-sm my-3">
          <!-- svg  -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
           <p>{{eventModelGet.date}}</p>
      </div>
      <div class="flex space-x-2 text-gray-400 text-sm">
        <!-- svg  -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
        </svg>
         <p>{{eventModelGet.duration}}</p>
      </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-center p-6 border-t border-solid border-gray-200 rounded-b">
        <button class="text-green-500 border-green-700 border font-bold uppercase px-6 py-2 text-sm hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 rounded-full hover:bg-green-700 hover:text-green-100" type="button" (click)="toggleModal()">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>


<!--Modal Agregar Evento-->
<div id="divModal" *ngIf="showModalE" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex animate__animated animate__fadeInDownBig">
  <div class="relative w-auto my-6 mx-auto max-w-sm">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-3 border-b border-solid border-gray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Agregar Evento
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModalE()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative px-6 py-4 flex-auto">
        <form>
          <div class="mb-2">
              <label for="inputName" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Nombre</label>
              <input type="text" placeholder="Nombre evento" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-bluee-300" id="inputName" name="name" #name="ngModel" [(ngModel)]="eventModelAdd.name"/>
          </div>
          <div class="mb-2">
            <label for="inputDescription" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Descripción</label>
            <textarea rows="5" placeholder="Descripción de evento" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 resize-none" required id="inputDescription" name="description" #description="ngModel" [(ngModel)]="eventModelAdd.description"></textarea>
        </div>
          <div class="mb-2">
              <label for="inputDate" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Fecha</label>
              <input type="date" placeholder="año-mes-día" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" id="inputDate" name="date" #date="ngModel" [(ngModel)]="eventModelAdd.date"/>
          </div>
          <div class="mb-2">
            <label for="inputDuration" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Duración</label>
            <input type="text" placeholder="Duración del evento" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-bluee-300" id="inputDuration" name="duration" #duration="ngModel" [(ngModel)]="eventModelAdd.duration"/>
        </div>
          <label for="inputEventType" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Tipo de evento</label>
          <select name="select" value="" onclick="this.setAttribute('value', this.value);" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" id="inputEventType" name="idEventType" #eventType="ngModel" [(ngModel)]="eventModelAdd.idEventType">
                  <option value="" selected disabled hidden>Seleccione el tipo</option>
                  <option *ngFor="let typ of typesGet" [value]="typ._id">{{typ.name}}</option>
          </select>
          <!-- <div class="mb-2">
            <label for="inpuIdHotel" class="block mb-2 text-sm text-gray-600 dark:text-gray-400" >Hotel</label>
            <input type="text" [value]="hotelModel._id" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" id="inputIdHotel" name="idHotel" #idHotel="ngModel" [(ngModel)]="eventModelAdd.idHotel"/>
        </div> -->
      </form>
      </div>
      <!--footer-->
      <div class="flex items-center justify-between p-6 border-t border-solid border-gray-200 rounded-b">
        <button class="text-green-500 border-green-700 border font-bold uppercase px-6 py-2 text-sm hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 rounded-full hover:bg-green-700 hover:text-green-100" type="button" (click)="addEvent()">
          Guardar
        </button>
        <button class="text-red-500 border-red-700 border font-bold uppercase px-6 py-2 text-sm hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 rounded-full hover:bg-red-700 hover:text-red-100" type="button" (click)="toggleModalE()">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModalE" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
