<app-navbar></app-navbar>
<!-- <div class="my-4 mx-16">
  <h1 class="text-6xl text-center font-bold">{{hotelModel.name}}</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 mt-4">
    <div class="">
      <img [src]="hotelModel.imgLink" [alt]="'img-hotel-'+hotelModel.name" class="w-10/12  md:w-auto border-gray-300 border-2 mx-auto">
    </div>
    <div>
      <p class="font-sans text-lg text-justify md:ml-4">{{hotelModel.description}}</p>
    </div>
  </div>
</div> -->

<div class="max-w-screen-lg mx-auto">
  <!-- header -->
  <!-- <header class="flex items-center justify-between py-2">
    <a href="#" class="px-2 lg:px-0 font-bold">
      Tech Blog
    </a>
    <button class="block md:hidden px-2 text-3xl">
      <i class='bx bx-menu'></i>
    </button>
    <ul class="hidden md:inline-flex items-center">
      <li class="px-2 md:px-4">
        <a href="" class="text-green-800 font-semibold hover:text-green-600"> Home </a>
      </li>
      <li class="px-2 md:px-4">
        <a href="" class="text-gray-500 font-semibold hover:text-green-600"> About </a>
      </li>
      <li class="px-2 md:px-4">
        <a href="" class="text-gray-500 font-semibold hover:text-green-600"> Press </a>
      </li>
      <li class="px-2 md:px-4">
        <a href="" class="text-gray-500 font-semibold hover:text-green-600"> Contact </a>
      </li>
      <li class="px-2 md:px-4 hidden md:block">
        <a href="" class="text-gray-500 font-semibold hover:text-green-600"> Login </a>
      </li>
      <li class="px-2 md:px-4 hidden md:block">
        <a href="" class="text-gray-500 font-semibold hover:text-green-600"> Register </a>
      </li>
    </ul>

  </header> -->
  <!-- header ends here -->

  <main class="mt-2">

    <div class="mb-4 md:mb-0 w-full mx-auto relative">
      <div class="px-4 lg:px-0">
        <h2 class="text-6xl font-semibold text-gray-800 leading-tight text-center">
          {{hotelModel.name}}
        </h2>
        <h1 class="py-2 text-green-700 inline-flex items-center justify-center mb-2">
          {{hotelModel.address}}
       </h1>
      </div>
      <img [src]="hotelModel.imgLink" class="w-full object-cover lg:rounded" style="height: 28em;"/>
    </div>
    <div class="flex flex-col lg:flex-row lg:space-x-12">

      <div class="px-4 lg:px-0 mt-12 text-gray-700 text-lg leading-relaxed w-full lg:w-3/4">
        <p class="pb-6 text-justify">{{hotelModel.description}}</p>
      </div>

      <div class="w-full lg:w-1/4 m-auto mt-12 max-w-screen-sm">
        <div class="p-4 border-t border-b md:border md:rounded">
          <div class="flex py-2">
            <img *ngIf="hotelModel.idAdminHotel.image" class="h-10 w-10 rounded-full mr-2 object-cover" [src]="hotelModel.idAdminHotel.image"/>
            <img *ngIf="!hotelModel.idAdminHotel.image" class="h-10 w-10 rounded-full mr-2 object-cover" src="/assets/user-profile.png"/>
            <div>
              <p class="font-semibold text-gray-700 text-sm"> {{hotelModel.idAdminHotel.name}} {{hotelModel.idAdminHotel.lastname}} </p>
              <p class="font-semibold text-gray-600 text-xs"> {{hotelModel.idAdminHotel.username}} </p>
            </div>
          </div>
          <p class="text-gray-700 py-3">
            Administrador del hotel "{{hotelModel.name}}"
          </p>
          <!-- <button class="px-2 py-1 text-gray-100 bg-green-700 flex w-full items-center justify-center rounded">
            Ver
            <i class='bx bx-user-plus ml-2' ></i>
          </button> -->
        </div>
      </div>

    </div>
  </main>
  <!-- main ends here -->

  <!-- footer -->
  <footer class="border-t mt-12 pt-4 pb-28 px-4 lg:px-0 mb-16">
    <div class="w-4/5 mt-1 rounded">
      <!-- Tabs -->
      <ul class="inline-flex w-full px-1 pt-2 ">
        <li [ngClass]="{'-mb-px border-b-2 border-blue-400 text-black opacity-100': click == '1'}" class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 cursor-pointer" (click)="click = '1'"><a>Información</a></li>
        <li [ngClass]="{'-mb-px border-b-2 border-blue-400 text-black opacity-100': click == '2'}" class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 cursor-pointer" (click)="click = '2'"><a>Eventos</a></li>
        <li [ngClass]="{'-mb-px border-b-2 border-blue-400 text-black opacity-100': click == '3'}" class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 cursor-pointer" (click)="click = '3'"><a>Servicios</a></li>
        <li [ngClass]="{'-mb-px border-b-2 border-blue-400 text-black opacity-100': click == '4'}" class="px-4 py-2 font-semibold text-gray-800 rounded-t opacity-50 cursor-pointer" (click)="click = '4'"><a>Reservación</a></li>
      </ul>

      <!-- Tab Contents -->
      <div>
        <div [ngClass]="{'hidden': click != '1'}" class="p-4">
          <h1 class="font-bold text-2xl">Dirección:</h1>
          <h2 class="text-md">{{hotelModel.address}}</h2>
          <h1 class="font-bold text-2xl">Teléfono:</h1>
          <h2 class="text-md">{{hotelModel.phoneNumber}}</h2>
        </div>
        <div [ngClass]="{'hidden': click != '2'}" class="p-4">
          <div *ngFor="let eve of events" class="grid grid-cols-1 md:grid-cols-2">
            <div class="bg-gray-300 py-4 px-4 shadow-xl rounded-lg my-4 mx-4">
              <div class="flex justify-between px-4 items-center">
                  <div class="text-lg font-semibold">
                    <p>{{eve.name}}</p>
                    <p class="text-gray-400 text-base">{{eve.date}}</p>
                  </div>
                  <div class="text-lg font-semibold">
                   <button class="focus:outline-none bg-pink-700 hover:bg-pink-800 text-white font-bold py-2 px-2 rounded-full inline-flex items-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="{'hidden': click != '3'}" class="p-4">
          Third tab
        </div>
        <div [ngClass]="{'hidden': click != '4'}" class="p-4">
          Fourth tab
        </div>
      </div>
    </div>
  </footer>
</div>
